[Unit]
Description=firstboot
After=network-online.service cloud-init.service cloud-init-local.service cloud-config.service cloud-final.service
Before=puppet-agent.service puppetserver.service

[Service]
Type=oneshot
ExecStart=/var/lib/firstboot/firstboot

[Install]
WantedBy=multi-user.target
